<% layout('layout') -%>
<% if (user && user.admin) { %>
	<p>Hallo <%= user.displayName %>!</p>
<% } else if(user && !user.admin) { %>
	<p>Hallo <%= user.displayName %>!</p>
<% } else { %>
	<p>Hallo!</p>
<% } %>
