<% layout('layout'); -%>

<div id="info"></div>

<div class="container-fluid" id="content"></div>

<style>
    button {
        margin: 2px;
    }
    button img {
        padding-left: 10px;
    }
    .btn-shutter {
        background-color: hsl(329, 48%, 78%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eccadb", endColorstr="#e1abc7");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#eccadb), to(#e1abc7));
        background-image: -moz-linear-gradient(top, #eccadb, #e1abc7);
        background-image: -ms-linear-gradient(top, #eccadb, #e1abc7);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eccadb), color-stop(100%, #e1abc7));
        background-image: -webkit-linear-gradient(top, #eccadb, #e1abc7);
        background-image: -o-linear-gradient(top, #eccadb, #e1abc7);
        background-image: linear-gradient(#eccadb, #e1abc7);
        border-color: #e1abc7 #e1abc7 hsl(329, 48%, 76%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
        -webkit-font-smoothing: antialiased;
    }
</style>

<script>

    var devices = <%-JSON.stringify(devices)%>;

    var dachAufAktiv = null;
    var dachZuAktiv = null;

    $(document).ready(function() {

        var kategorien = {};

        for(addr in devices) {


            if (typeof devices[addr].Kategorie == "undefined") {
                devices[addr].Kategorie = "Allgemein";
            }
            if(devices[addr].Kategorie == "") {
                devices[addr].Kategorie = "Allgemein";
            }
            if (!kategorien[devices[addr].Kategorie]) {

                var p1 = $("<div/>").addClass('panel').addClass('panel-primary');
                var p1_p1 = $("<div/>").addClass('panel-heading');
                var p1_p1_h3 = $("<h3/>").addClass('panel-title').text(devices[addr].Kategorie);
                kategorien[devices[addr].Kategorie] = $("<div/>").addClass('panel-body');
                p1_p1.append(p1_p1_h3);
                p1.append(p1_p1);
                p1.append(kategorien[devices[addr].Kategorie]);
                $("#content").append(p1);
            }

            if (devices[addr].Type == "SWITCH") {

                var button = $("<button/>").attr('address', addr).addClass('btn').text(devices[addr].Name);

                if(devices[addr].DachAuf) {
                    button.attr('dachauf', 'true');
                    if(devices[addr].State == "true") dachAufAktiv = true;
                } else if(devices[addr].DachZu) {
                    button.attr('dachzu', 'true');
                    if(devices[addr].State == "true") dachZuAktiv = true;
                }

                if (devices[addr].State == "true") {
                    button.addClass('btn-success');
                } else {
                    button.addClass('btn-default');
                }
                button.click(function() {
                    var dev = devices[$(this).attr("address")];
                    io.emit('toggle', dev);
                });

                kategorien[devices[addr].Kategorie].append(button);

            }

            if(devices[addr].Type == "SHUTTER_CONTACT") {

                var button = $("<button/>").attr('address', addr).addClass('btn').text(devices[addr].Name).attr('original-name', devices[addr].Name);
                button.prop("disabled", true);

                if (devices[addr].State == "false") {
                    button.html(button.text() + "<img src='img/door-open.png' />");
                    if(devices[addr].DachZu == "true") {
                        button.addClass('btn-success');
                    } else {
                        button.addClass('btn-warning');
                    }
                } else {
                    button.addClass('btn-default');
                    button.html(button.text() + "<img src='img/door-close.png' />");
                }

                kategorien[devices[addr].Kategorie].append(button);

            }

        }

        if(dachZuAktiv) {
            $("button[dachauf]").prop("disabled", true);
        }

        if(dachAufAktiv) {
            $("button[dachzu]").prop("disabled", true);
        }

    });

    io = io.connect();

    io.on('updateDevice', function(data) {
        devices[data.device.Address].State = data.device.State;

        if((data.device.DachZu || data.device.DachAuf)) {

            if(data.device.DachAuf) {
                dachAufAktiv = data.device.State == "true";
            }

            if(data.device.DachZu) {
                dachZuAktiv = data.device.State == "true";
            }

            if(dachZuAktiv) {
                $("button[dachauf]").prop("disabled", true);
            }

            if(dachAufAktiv) {
                $("button[dachzu]").prop("disabled", true);
            }

            if(!(dachAufAktiv || dachZuAktiv)) {
                $("button[dachauf]").prop("disabled", false);
                $("button[dachzu]").prop("disabled", false);
            }

        }

        if(data.device.Type == "SWITCH") {
            if (data.device.State == "true") {
                $("button[address='" + data.device.Address + "']").removeClass('btn-default').addClass('btn-success');
            } else {
                $("button[address='" + data.device.Address + "']").removeClass('btn-success').addClass('btn-default');
            }
        }

        if(data.device.Type == "SHUTTER_CONTACT") {

            var button = $("button[address='" + data.device.Address + "']");
            if (data.device.State == "false") {
                button.removeClass('btn-success');
                button.removeClass('btn-warning');
                button.html(button.attr('original-name') + " <img src='img/door-open.png' />");
                if(data.service.DachZu == "true") {
                    button.addClass('btn-success');
                } else {
                    button.addClass('btn-warning');
                }
            } else {
                button.addClass('btn-default');
                button.removeClass('btn-success');
                button.removeClass('btn-warning');
                button.html(button.attr('original-name') + " <img src='img/door-close.png' />");
            }


        }

        console.log(data.device);
    })

</script>
