<% layout('layout'); -%>

<div id="hmcontrol">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Observatory</h3>
        </div>
        <div class="panel-body">

            <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-default" hm-device="Dach auf" id="dachAufButton">&Ouml;ffnen</button>
                <button class="btn btn-default" hm-state="0" hm-group="Dach" id="stopButton">STOP</button>
                <button class="btn btn-default" hm-device="Dach zu" id="dachZuButton">Schlie&szlig;en</button>
            </div>

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Left Control - Daniel</h3>
        </div>
        <div class="panel-body">

            <button class="btn btn-default" hm-state="1" hm-group="GruppeA">Einschalten</button>
            <button class="btn btn-default" hm-state="0" hm-group="GruppeA">Ausschalten</button>

            &nbsp;&nbsp;&nbsp;

            <button class="btn btn-default" hm-device="Kanal 1.1">Computer</button>
            <button class="btn btn-default" hm-device="Kanal 1.2">Monitor</button>
            <button class="btn btn-default" hm-device="Kanal 1.3">Montierung</button>
            <button class="btn btn-default" hm-device="Kanal 1.4">Technik</button>

            &nbsp;&nbsp;&nbsp;

            <button class="btn btn-default" hm-url="push/short/PC Knopf Daniel">PC <small>short press</small></button>
            <button class="btn btn-default" hm-url="push/long/PC Knopf Daniel">PC <small>cold shutdown</small></button>

        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Right Control - Markus</h3>
        </div>
        <div class="panel-body">

            <button class="btn btn-default" hm-state="1" hm-group="GruppeB">Einschalten</button>
            <button class="btn btn-default" hm-state="0" hm-group="GruppeB">Ausschalten</button>

            &nbsp;&nbsp;&nbsp;

            <button class="btn btn-default" hm-device="Kanal 2.1">Computer</button>
            <button class="btn btn-default" hm-device="Kanal 2.2">Monitor</button>
            <button class="btn btn-default" hm-device="Kanal 2.3">Montierung</button>
            <button class="btn btn-default" hm-device="Kanal 2.4">Technik</button>

            &nbsp;&nbsp;&nbsp;

            <button class="btn btn-default" hm-url="push/short/PC Knopf Markus">PC <small>short press</small></button>
            <button class="btn btn-default" hm-url="push/long/PC Knopf Markus">PC <small>cold shutdown</small></button>

        </div>
    </div>

</div>

<div id="results">

</div>

<script>

	var devices = <%-JSON.stringify(devices)%>;
	var groups = <%-JSON.stringify(groups)%>;

    $(document).ready(function() {

        io = io.connect();

        io.on('updateDevice', function(data) {
            updateDevice(data.name, data.state);
        });

        updateAllDeviceButtons(devices);

        $("button").each(function() {

            var btn = $(this);
            var hmDevice = btn.attr('hm-device');
            var hmGroup = btn.attr('hm-group');
            var hmState = btn.attr('hm-state');
            var hmUrl = btn.attr('hm-url');

            if(hmDevice) {
                $(this).click(function() {
                    var text = btn.text();
                    $(this).html("<img src='img/loader.gif' />");
                    toggleWithAjax(hmDevice, function(result) {
                        btn.text(text);
                    });
                });
            }

            if(hmGroup) {
                $(this).click(function() {
                    var text = btn.text();
                    $(this).html("<img src='img/loader.gif' />");
                    setGroupWithAjax(hmGroup, hmState, function(result) {
                        updateAllDeviceButtons(result);
                        btn.text(text);
                    });
                });
            }

            if(hmUrl) {
                $(this).click(function() {
                    var text = btn.text();
                    $(this).html("<img src='img/loader.gif' />");
                    loadHmUrlWithAjax(hmUrl, function(result) {
                        btn.text(text);
                    });
                });
            }

        });

    });


    function updateAllDeviceButtons(devicelist) {

        var sperre_dach_zu = false;
        var sperre_dach_auf = false;

        $("button").each(function() {

            var btn = $(this);
            var hmDevice = btn.attr('hm-device');

            for(var i=0; i <= devicelist.length-1; i++) {
                if(hmDevice == devicelist[i].Name) {
                    if(devicelist[i].Value == true && btn.hasClass('btn-default')) {
                        btn.removeClass('btn-default');
                        btn.addClass('btn-success');
                        btn.effect("highlight");
                    } else if(devicelist[i].Value == false && btn.hasClass('btn-success')) {
                        btn.removeClass('btn-success');
                        btn.addClass('btn-default');
                        btn.effect("highlight");
                    }

                    if(devicelist[i].Name == "Dach auf" && devicelist[i].Value == true) {
                        sperre_dach_zu = true;
                    }
                    if(devicelist[i].Name == "Dach zu" && devicelist[i].Value == true) {
                        sperre_dach_auf = true;
                    }

                }
            }

        });

        if(sperre_dach_auf) {
            $("#dachAufButton").prop( "disabled", true );
            $("#dachZuButton").prop( "disabled", false );
        } else if(sperre_dach_zu) {
            $("#dachAufButton").prop( "disabled", false );
            $("#dachZuButton").prop( "disabled", true );
        } else {
            $("#dachAufButton").prop( "disabled", false );
            $("#dachZuButton").prop( "disabled", false );
        }

    }

    function updateDevice(buttonName, value) {

        console.log("Got Device Update", buttonName, value);

        var sperre_dach_zu = false;
        var sperre_dach_auf = false;

        $("button").each(function() {

            var btn = $(this);
            var hmDevice = btn.attr('hm-device');

            if(buttonName == hmDevice) {

                if(value == true && btn.hasClass('btn-default')) {
                    btn.removeClass('btn-default');
                    btn.addClass('btn-success');
                    btn.effect("highlight");
                } else if(value == false && btn.hasClass('btn-success')) {
                    btn.removeClass('btn-success');
                    btn.addClass('btn-default');
                    btn.effect("highlight");
                }

            }

        });

        if(buttonName == "Dach auf" || buttonName == "Dach zu") {
            if (buttonName == "Dach auf" && value == true) {
                var sperre_dach_zu = true;
            }
            if (buttonName == "Dach zu" && value == true) {
                var sperre_dach_auf = true;
            }
            if(sperre_dach_auf) {
                $("#dachAufButton").prop( "disabled", true );
                $("#dachZuButton").prop( "disabled", false );
            } else if(sperre_dach_zu) {
                $("#dachAufButton").prop( "disabled", false );
                $("#dachZuButton").prop( "disabled", true );
            } else {
                $("#dachAufButton").prop( "disabled", false );
                $("#dachZuButton").prop( "disabled", false );
            }
        }

    }

    function updateList(name, value) {
        for(var i=0; i <= devices.length-1; i++) {
            if(name == devices[i].Name) {
                devices[i].Value = value;
            }
        }
    }

    function toggleWithAjax(hmDevice, callback) {

        $.ajax({
            url: "api/toggle/" + hmDevice,
            cache: false
        }).done(function() {

        });

    }

    function setGroupWithAjax(hmGroup, state, callback) {

        $.ajax({
            url: "api/set/g/" + hmGroup + "/" + state,
            cache: false
        }).done(function() {

            $.ajax({
                url: "api/get/devices",
                cache: false
            }).done(function(result) {
                callback(result);
            });

        });

    }

    function updateDeviceList(callback) {
        $.ajax({
            url: "api/get/devices/update",
            cache: false
        }).done(function(result) {
            devices = result;
            if(callback) callback(result);
        });
    }

    function loadHmUrlWithAjax(url, callback) {
        $.ajax({
            url: "api/" + url,
            cache: false
        }).done(function(result) {
            devices = result;
            if(callback) callback(result);
        });
    }

</script>
