<% layout('layout'); -%>

<div class="container-fluid" id="content">

</div>

<div class="container-fluid" id="content">

    <div class="panel panel-warning" id="infopanel" style="display: none;">
        <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
        </div>
        <div class="panel-body" id="info">

        </div>
    </div>

</div>


<style>
    button {
        margin: 2px;
    }
    button img {
        padding-left: 10px;
    }
    .btn-apilink {
        background-color: hsl(94, 47%, 85%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfdfb", endColorstr="#d6eac6");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfdfb), to(#d6eac6));
        background-image: -moz-linear-gradient(top, #fcfdfb, #d6eac6);
        background-image: -ms-linear-gradient(top, #fcfdfb, #d6eac6);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfdfb), color-stop(100%, #d6eac6));
        background-image: -webkit-linear-gradient(top, #fcfdfb, #d6eac6);
        background-image: -o-linear-gradient(top, #fcfdfb, #d6eac6);
        background-image: linear-gradient(#fcfdfb, #d6eac6);
        border-color: #d6eac6 #d6eac6 hsl(94, 47%, 81.5%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23);
        -webkit-font-smoothing: antialiased;
    }
    #info {
        font-family: Consolas, Menlo, Monaco, monospace;
        padding: 10px;
    }
</style>

<script>

    var devices = <%-JSON.stringify(devices)%>;
    var apilinks = <%-JSON.stringify(apilinks)%>;

    console.log(apilinks);

    var dachAufAktiv = null;
    var dachZuAktiv = null;

    var kategorien = {};

    $(document).ready(function() {

        var info = $("#info");
        var kat = "";

        for(var id in apilinks) {

            kat = createKategory(apilinks[id].Kategorie);

            var apibutton = $("<button/>");
            apibutton.addClass('btn').addClass('btn-apilink');

            if(typeof apilinks[id].InputField != "undefined") {
                if(apilinks[id].InputField != "") {

                    var apiinputgroup = $("<div/>")
                            .addClass('form-group')
                            .addClass('form-inline')
                            .addClass('alert alert-info')
                            .css('display', 'inline-block')
                            .css('margin-left', '10px')
                            .css('margin-right', '10px')
                            .css('padding', '5px');

                    var apiinput = $("<input/>")
                            .attr('original-name', apilinks[id].InputField)
                            .attr('id', "input_" + id)
                            .attr('placeholder', apilinks[id].InputField)
                            .addClass('form-control')
                            .css('width', '60');
                }
            }

            if(typeof apilinks[id].GotoAPI != "undefined") {
                if(apilinks[id].GotoAPI == true) {
                    var gotogroup = $("<div/>")
                            .addClass('form-group')
                            .addClass('form-inline')
                            .addClass('alert alert-info')
                            .css('display', 'inline-block')
                            .css('margin-left', '10px')
                            .css('margin-right', '10px')
                            .css('padding', '5px');
                    var gotoinput = $("<input/>")
                            .attr('original-name', apilinks[id].Name)
                            .attr('id', "goto_" + id)
                            .attr('placeholder', "2244")
                            .addClass('form-control')
                            .css('width', '60');
                    var gotolabel = $("<label/>").attr('for', "goto_" + id).html("NGC&nbsp;&nbsp;");
                }
            }

            apibutton.text(apilinks[id].Name).attr('id', id);
            apibutton.click(function() {
                var btn = $(this);
                var text = btn.text();
                btn.html("<img src='img/loader.gif' />");

                var inputfield = $("#input_" + btn.attr('id'));
                var gotofield = $("#goto_" + btn.attr('id'));

                post_data = {};
                if(inputfield.length) {
                    post_data[inputfield.attr('original-name')] = inputfield.val();
                }
                if(gotofield.length) {
                    post_data['goto'] = gotofield.val();
                }
                $.ajax({
                    type: 'POST',
                    url: "api/apilink/" + $(this).attr('id'),
                    data: post_data
                }).done(function(result) {
                    btn.text(text);
                    info.html(result);
                    $("#infopanel").show().effect('highlight');
                });
            });

            if(apiinputgroup)  {
                apiinputgroup.append(apiinput);
                apiinputgroup.append(apibutton);
                kategorien[kat].append(apiinputgroup);
            } else if(gotogroup) {
                gotogroup.append(gotolabel);
                gotogroup.append(gotoinput);
                gotogroup.append(apibutton);
                kategorien[kat].append(gotogroup);
            } else {
                kategorien[kat].append(apibutton);
            }


            apiinputgroup = null;
            gotogroup = null;

        }

        for(var addr in devices) {

            var devicebutton = $("<button/>");

            kat = createKategory(devices[addr].Kategorie);

            if (devices[addr].Type == "SWITCH") {

                devicebutton.attr('address', addr).addClass('btn').text(devices[addr].Name);

                if(devices[addr].DachAuf) {
                    devicebutton.attr('dachauf', 'true');
                    if(devices[addr].State == "true") dachAufAktiv = true;
                } else if(devices[addr].DachZu) {
                    devicebutton.attr('dachzu', 'true');
                    if(devices[addr].State == "true") dachZuAktiv = true;
                }

                if (devices[addr].State == "true") {
                    devicebutton.addClass('btn-success');
                } else {
                    devicebutton.addClass('btn-default');
                }
                devicebutton.click(function() {
                    var dev = devices[$(this).attr("address")];
                    io.emit('toggle', dev);
                });

                kategorien[kat].append(devicebutton);

            }

            if(devices[addr].Type == "SHUTTER_CONTACT") {

                devicebutton.attr('address', addr).addClass('btn').text(devices[addr].Name).attr('original-name', devices[addr].Name);
                devicebutton.prop("disabled", true);

                if (devices[addr].State == "false") {
                    devicebutton.html(devicebutton.text() + "<img src='img/door-open.png' />");
                    if(devices[addr].EndlageDachZu) {
                        devicebutton.addClass('btn-success');
                    } else {
                        devicebutton.addClass('btn-warning');
                    }
                } else {
                    devicebutton.addClass('btn-default');
                    devicebutton.html(devicebutton.text() + "<img src='img/door-close.png' />");
                }

                kategorien[kat].append(devicebutton);

            }

        }

        if(dachZuAktiv) {
            $("button[dachauf]").prop("disabled", true);
        }

        if(dachAufAktiv) {
            $("button[dachzu]").prop("disabled", true);
        }

    });

    io = io.connect();

    io.on('updateDevice', function(data) {
        devices[data.device.Address].State = data.device.State;

        if((data.device.DachZu || data.device.DachAuf)) {

            if(data.device.DachAuf) {
                dachAufAktiv = data.device.State == "true";
            }

            if(data.device.DachZu) {
                dachZuAktiv = data.device.State == "true";
            }

            if(dachZuAktiv) {
                $("button[dachauf]").prop("disabled", true);
            }

            if(dachAufAktiv) {
                $("button[dachzu]").prop("disabled", true);
            }

            if(!(dachAufAktiv || dachZuAktiv)) {
                $("button[dachauf]").prop("disabled", false);
                $("button[dachzu]").prop("disabled", false);
            }

        }

        if(data.device.Type == "SWITCH") {
            if (data.device.State == "true") {
                $("button[address='" + data.device.Address + "']").removeClass('btn-default').addClass('btn-success');
            } else {
                $("button[address='" + data.device.Address + "']").removeClass('btn-success').addClass('btn-default');
            }
        }

        if(data.device.Type == "SHUTTER_CONTACT") {

            var button = $("button[address='" + data.device.Address + "']");
            if (data.device.State == "false") {
                button.removeClass('btn-success');
                button.removeClass('btn-warning');
                button.html(button.attr('original-name') + " <img src='img/door-open.png' />");
                if(data.device.EndlageDachZu) {
                    button.addClass('btn-success');
                } else {
                    button.addClass('btn-warning');
                }
            } else {
                button.addClass('btn-default');
                button.removeClass('btn-success');
                button.removeClass('btn-warning');
                button.html(button.attr('original-name') + " <img src='img/door-close.png' />");
            }

        }

        console.log(data.device);
    });

    function createKategory(katName) {

        if (typeof katName == "undefined") {
            katName = "Allgemein";
        }
        if(katName == "") {
            katName = "Allgemein";
        }

        if (!kategorien[katName]) {
            var p1 = $("<div/>").addClass('panel').addClass('panel-primary');
            var p1_p1 = $("<div/>").addClass('panel-heading');
            var p1_p1_h3 = $("<h3/>").addClass('panel-title').text(katName);
            kategorien[katName] = $("<div/>").addClass('panel-body');
            p1_p1.append(p1_p1_h3);
            p1.append(p1_p1);
            p1.append(kategorien[katName]);
            $("#content").append(p1);
        }

        return katName;

    }

</script>
