

@media only screen and (min-device-width: 1024px) {

    .toggleButton {
        margin-bottom: 10px;

    }

    .toggleButton button {

    }

}

@media only screen and (max-device-width: 1023px) {

    #mainpage .form-group, #mainpage button {
        width: 100%;
    }
    #mainpage .form-control {
        display: inline-block !important;
    }
    #mainpage .button-group {
        text-align: center;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 10px;
    }
    #mainpage .button-group input {
        width: 100% !important;
    }
    #mainpage .panel-body button {
        margin-bottom: 10px;
    }

}